* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1.title {
	font-style: arial;
	text-align: center;
	font-size: 3rem;
	margin: 2% 0%;
	text-transform: uppercase;
}
.slider {
	width: 35%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 35px;
	margin-bottom: 25px;
	margin-top: 50px;
	animation: grow 4s linear infinite;
	animation-delay: 0.5s;
}

.photo {
	width: 100%;
	height: auto;
}
div.container {
	text-align: center;
	padding: 10px 20px;
}

.paw {
	color: black;
	transform: rotate(-40deg);
	padding: 2px;
	color: rgba(5, 4, 4, 0.6);
}

.paws {
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -80%);
	font-size: 3rem;
}
.active {
	color: black;
	font-size: 4rem;
}

@keyframes grow {
	0% {
		width: 35%;
	}
	50% {
		width: 45%;
	}
	85% {
		width: 45%;
	}
	100% {
		width: 35%;
	}
}
